.header{
    /*solo para visualizar despues se cambia*/
    background-color: black;
}

.img-logo{
    width 40px;
}

.text-white{
    color: white;
}

.impact{
    font-family: Impact;
    font-size: 60px;
}