.header{
    background-color: black;/*solo para visualizar despues se cambia*/
    
    }
.bodyIndex {
    background-image: url(../imagen/FONDO.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-logo{
    width: 40px;
}

.text-white{
    color: white;
}

.impact{
    font-family: Impact;
    font-size: 60px;
}

